# specific files
CHANGELOG.md
ROADMAP.md
TODO.md
pytestdebug.log

# filetypes
*.egg-info
*.pyc

# folders
*/.hypothesis
.coverage
.coverage_html/*
.hypothesis/
.tox/*
__pycache__/*
build/*
dist/*
notebooks
notebooks/*
tuna.log
